<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Upload MP3 File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" accept=".mp3" required>
            <button type="submit" id="uploadBtn" disabled>Upload</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>